---
layout: default
---
<div class="content pure-u-1 pure-u-md-3-4">
  <div>
    <header class="post-header">

    <h2 class="post-title">{{ page.title }}</h2>

    <p class="post-meta">By  {{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日  {{ page.date | date: "%Y" }}  <a
            class="post-category-0 " href="/type/#{{ post.categories  }}">{{ page.categories  }}</a><a
            class="post-category-1 " href="/tag/#{{ page.tags | first }}"> {{ page.tags | first }}</a><a
            class="post-category-2 " href="/tag/#{{ page.tags[1] }}">  {{ page.tags[1] }}</a>
    </p>
    </header>

    <div class="article pure-u-22-24">
        {{ content }}
    </div>

    <div class="pure-g pagination ">
        <div class="pure-u-1-2">
            {% if page.previous %}
              <a class="pagination-item" href="{{ page.previous.url | prepend: site.baseurl }} " title="{{ page.previous.title }} ">{{ page.previous.title }}</a>
            {% else %}
              <span class="pagination-item">上一篇</span>
            {% endif %}
        </div>
        <div class="pure-u-1-2">
          {% if paginator.next_page %}
            <a class="pagination-item" href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">{{ page.next.title }}</a>
          {% else %}
            <span class="pagination-item">下一篇</span>
          {% endif %}
        </div>
    </div>

    {% include footer.html %}
  </div>
</div>

