---
layout: default
comments: true
---
<div>
    <!-- A wrapper for all the blog posts -->
    <div class="post">
     <!--    <h1 class="content-subhead">Pinned Post</h1> -->
      <header class="post-header">

        <h2 class="post-title">{{ page.title }}</h2>
          <p class="post-meta">By&nbsp;{{ page.author}}&nbsp;&nbsp;&nbsp;&nbsp;{{ page.date | date: "%m月%d日%Y" }}&nbsp;&nbsp;
            <a class="post-category-{{ page.tags| first}}" href="{{'/list/tag.html'| prepend: site.baseurl }}"> {{ page.tags | first}}</a>
            <a class="post-category-{{ page.tags[1] }}" href="{{'/list/tag.html'| prepend: site.baseurl }}">  {{ page.tags[1] }}</a>
            <a class="post-category-{{ page.tags[2] }}" href="{{'/list/tag.html'| prepend: site.baseurl }}">  {{ page.tags[2] }}</a>
          </p>
      </header>

        <div class="post-content">
            {{ content}}
        </div>
    </div>
    

    <div class="pure-g pagination ">
        <div class="pure-u-1-2">
            {% if page.previous %}
              <a class="pagination-item" href="{{ page.previous.url | prepend: site.baseurl }} " title="{{ page.previous.title }} ">{{ page.previous.title }}</a>
            {% else %}
              <span class="pagination-item-no">上一篇</span>
            {% endif %}
        </div>
        <div class="pure-u-1-2">
          {% if page.next %}
            <a class="pagination-item" href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">{{ page.next.title }}</a>
          {% else %}
            <span class="pagination-item-no">下一篇</span>
          {% endif %}
        </div>
    </div>
    <div class="comment">
        {% if page.comments  %}
          {% if site.comments %}
            {% include comments-disqus.html %}
          {% else %}
            {% include comments-duoshuo.html %}
          {% endif %}
        {% endif %}
    </div>

    {% if page.letex  %}
      {% include letex.html %}
    {% endif %}
    
    {% include footer.html %}
</div>

