---
layout: default
title : Timing
---
<ul class="cbp_tmtimeline">
  {% for post in site.posts %}
  {% if post.layout == 'post' %}

  <li>
    <time class="cbp_tmtime"><span>{{ post.date | date: "%m/%d/%Y" }}</span>
      <span>{{ post.date | date: "%H:%m" }}</span></time>
    <div class="cbp_tmicon cbp_tmicon-phone"></div>
    <div class="cbp_tmlabel">
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
      <p>{{ post.content | split:'<!-- more -->'| first }}</p>
    </div>
  </li>

  {% endif %}
  {% endfor %}
</ul>
<link rel="stylesheet" href="{{ '/css/timeline.css' | prepend: site.baseurl }}" type="text/css" media="screen" />