---
layout: default
---
<div>
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
     <!--    <h1 class="content-subhead">Pinned Post</h1> -->

      {% for post in paginator.posts %}

        <section class="post">
          <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p class="post-meta">By&nbsp;{{ post.author}}&nbsp;&nbsp;&nbsp;&nbsp;{{ post.date | date: "%m月%d日%Y" }}&nbsp;&nbsp;
                <a class="post-category-{{ post.tags| first}}" href="{{'/static/tag.html'| prepend: site.baseurl }}?tag={{ post.tags | first}}"> {{ post.tags | first}}</a>
                <a class="post-category-{{ post.tags[1] }}" href="{{'/static/tag.html'| prepend: site.baseurl }}?tag={{ post.tags[1] }}">  {{ post.tags[1] }}</a>
                <a class="post-category-{{ post.tags[2] }}" href="{{'/static/tag.html'| prepend: site.baseurl }}?tag={{ post.tags[2] }}">  {{ post.tags[2] }}</a>
              </p>
          </header>

            <div class="post-content">
                {{ post.content | split:'<!-- more -->'| first }}
            </div>
        </section>

      {% endfor %}
    </div>


    <div class="pure-g">
        <div class="pure-u-1-2">
          {% if paginator.previous_page %}
            
            {% if paginator.page == 2 %}
              <a class="pagination-item-yes" href="{{site.baseurl }}/">Newer</a>
            {% else %}
              <a class="pagination-item-yes" href="{{'/page/' | prepend: site.baseurl }}{{paginator.previous_page}}">Newer</a>
            {% endif %}

          {% else %}
              <a class="pagination-item-no">已在第一頁</a>
          {% endif %}
        </div>
        <div class="pure-u-1-2">
          {% if paginator.next_page %}
            <a class="pagination-item-yes" href="{{'/page/' | prepend: site.baseurl }}{{paginator.next_page}}">Older</a>
          {% else %}
            <a class="pagination-item-no">已在最終頁</a>
          {% endif %}
        </div>
    </div>


    {% include footer.html %}
</div>


