/**
 * Reset some basic elements
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    
    -webkit-text-size-adjust: 100%;
    background: #f5f5f5;

}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 0.5em;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
td{
    width: inherit;
    text-align: center;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid #757575;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    margin: 0px !important;
    background: #f5f5f5;

    -moz-box-shadow: 1px 1px 1px #bdbdbd;
    -webkit-box-shadow: 1px 1px 1px #bdbdbd;
    box-shadow: 1px 1px 1px #bdbdbd;
    
    > :last-child {
        margin-bottom: 0;
    }
}
blockquote a{
    color: rgb(61, 146, 201);
    text-decoration:underline;
    &:visited {
        text-decoration: underline;
        color: rgb(61, 146, 201);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 0px solid $grey-color-light;
    border-radius: 3px;
    background-color: transparent;
}

code {
    padding: 2px 5px;
}

pre {
    padding: 5px 8px;
    // overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
.git-follow{
    text-align: center;
    > iframe {
        margin:0 auto;
    }
}

/*hxq*/
html,body,#layout{
    min-height: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
.sidebar {
    background: $sidebar-backgroud;
    color: #fff;
    text-align: center;
    overflow-y:hidden; 
}
.sidebar-header {
    clear: both;
    margin:3em auto;
}
.sidebar-header a{
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.sidebar-header-pic img{
    max-width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.sidebar-title {
    text-transform: uppercase;
}
.sidebar-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.sidebar-nav-list {
    margin: 0;
    padding:0 20px;
    list-style: none;
}
.sidebar-nav-item {
    display: inline-block;
    zoom: 1;
}
.sidebar-nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: white;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    &:hover{
        border: 2px solid rgb(61, 146, 201);
        text-decoration: none;
    }
    &:focus{
        border: 2px solid rgb(61, 146, 201);
        text-decoration: none;
    }
    &:visited{
        color: white;
        text-decoration: none;
    }
}

.site-content {
    padding: $spacing-unit 0;
}

.post{
    margin:0.8em 0.5em;
    padding: 1em 1.5em;
    // border: 1px solid #eeeeee;
    background:#fafafa;
    // -moz-box-shadow: 1px 1px 1px #bdbdbd;
    // -webkit-box-shadow: 1px 1px 1px #bdbdbd;
    
    box-shadow: 0.08em 0.12em 0.1em 0.12em rgba(0,0,0,0.4);
    // box-shadow: 0 0 2px 1px rgba(0,0,0,.35);
    border-radius: 2px;
}
@media (max-width: 48em) {
    .post {
        padding: 0.5em 0.8em;
        margin:0.2em 0.2em;
    }  
}
.post-title {
    font-size: 2.5em;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0.1em  0em 0em 0em;
}
a {
    text-decoration: none;
    color: #007edf;
    text-shadow: none;
    background: 0 0;

    transition: color 0.5s ease;
    transition: text-shadow 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -webkit-transition: text-shadow 0.5s ease;
    -moz-transition: color 0.5s ease;
    -moz-transition: text-shadow 0.5s ease;
    -o-transition: color 0.5s ease;
    -o-transition: text-shadow 0.5s ease;
    -ms-transition: color 0.5s ease;
    -ms-transition: text-shadow 0.5s ease;

    &:hover {
        color: #0069ba;
        text-shadow: #0090ff 0px 0px 1.5px;
        text-decoration: none;
    }
}

.post-content {
    color: #444;
    line-height: 1.8em;
    overflow: hidden;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin: 0;
}

%post-category {
    
    margin: 1em 0.1em;
    padding: 0.3em 1em;
    font-size: 90%;
    color: white;
    display: inline-block;
    letter-spacing:0.1em;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:focus {
        color: white;
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
        color: white;
    }
}

.post-category-read{
    
    @extend %post-category;

    background: #039be5;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }

}
.post-category-design {
    @extend %post-category;
    background: #5aba59;
}
.post-category-java {
    @extend %post-category;
    background: #4d85d1;
}
.post-category-ios {
    @extend %post-category;
    background: #8156a7;
}
.post-category-android {
    @extend %post-category;
    background: #df2d4f;
}
.post-category-blog {
    @extend %post-category;
    background: #00CEAA;
}
.post-category-css {
    @extend %post-category;
    background: #E06415;
}

%pagination-item {
    text-align:center;
    width: 100%;
    display: inline-block;
    padding : 1em 0em;
}
.pagination-item-yes {
    @extend %pagination-item;
}
.pagination-item-no {
    @extend %pagination-item;
    &:hover {
        color: red;
        text-decoration: line-through;
         text-shadow: red 0px 0px 0.5px;
    }
}
.comment{
     margin: 0.5em 3em 0.5em 1em;
}
.pure-menu,.pure-menu-open{
    background: #f5f5f5 !important;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 48em) {
    .content {
        margin-left: 25%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

@-webkit-keyframes pulsate{
    0%{color:#fff;background:#001F3F}
    7%{color:#0c85ff;background:#001F3F}
    14%{color:#40a9ff;background:#0074D9}
    21%{color:#00a8e5;background:#7FDBFF}
    28%{color:#165656;background:#39CCCC}
    35%{color:#112c20;background:#3D9970}
    42%{color:#124f18;background:#2ECC40}
    49%{color:#00672d;background:#01FF70}
    56%{color:#665700;background:#FFDC00}
    63%{color:#ffd6b4;background:#FF851B}
    70%{color:#ffd1cf;background:#FF4136}
    77%{color:#e44e99;background:#85144B}
    84%{color:#f9a2e6;background:#F012BE}
    91%{color:#e679f6;background:#B10DC9}
    95%{color:#5e5e5e;background:#111}
    96%{color:#919191;background:#ddd}
    98%{color:#5d5d5d;background:#aaa}
    100%{color:#b3b3b3;background:#fff}
}
.pulsate-bg{
    -webkit-animation:pulsate 100s linear infinite;
    animation:pulsate 100s linear infinite
}
