/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    
    -webkit-text-size-adjust: 100%;
    background: #f5f5f5;
    overflow-x:hidden;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {

        text-decoration: line-through;
        color: #757575;
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
    &:focus {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid #757575;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    margin: 0px !important;
    background: #f5f5f5;

    -moz-box-shadow: 1px 1px 1px #bdbdbd;
    -webkit-box-shadow: 1px 1px 1px #bdbdbd;
    box-shadow: 1px 1px 1px #bdbdbd;
    
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/*hxq*/
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: $sidebar-backgroud;
    color: #fff;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

.content {
    padding: 2em 1em 0;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.site-content {
    padding: $spacing-unit 0;
}

.post{
    padding-bottom: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #eeeeee;
    background:#fafafa;
    -moz-box-shadow: 1px 1px 1px #bdbdbd;
    -webkit-box-shadow: 1px 1px 1px #bdbdbd;
    box-shadow: 1px 1px 1px #bdbdbd;
}

.post-title {
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1;
    margin: 1em  0em 0em 0em;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-description {
    color: #444;
    line-height: 1.8em;
    overflow: hidden;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin: 0;
}


.page{
    padding-right:5%;
    letter-spacing:0;
}
.page-meta {
    @extend .post-meta;
}

.page-title{
    @extend .post-title;
    margin:0em 0em;
}

.comment{
     padding-right:5%;
}

%post-category {
    
    margin: 1em 0.1em;
    padding: 0.3em 1em;
    font-size: 90%;
    color: white;
    display: inline-block;
    letter-spacing:0.1em;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:focus {
        color: white;
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
        color: white;
    }
}

.post-category-read{
    
    @extend %post-category;

    background: #039be5;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }

}
.post-category-design {
    @extend %post-category;
    background: #5aba59;
}
.post-category-java {
    @extend %post-category;
    background: #4d85d1;
}
.post-category-ios {
    @extend %post-category;
    background: #8156a7;
}
.post-category-android {
    @extend %post-category;
    background: #df2d4f;
}
.post-category-blog {
    @extend %post-category;
    background: #df2d4f;
}


.pagination{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    background:#fafafa;
    -moz-box-shadow: 1px 1px 2px #bdbdbd;
    -webkit-box-shadow: 1px 1px 2px #bdbdbd;
    box-shadow: 1px 1px 2px #bdbdbd;
}

.pagination-item {
    border: 1px solid #eee;
    text-align:center;
    width: 100%;
    display: inline-block;
    padding : 1em 0em;
    color: #000;
}
a.pagination-item{
    
    color: #000;
    text-decoration:underline;
    
    &:hover {
        color: #1CA3FC;
        text-decoration: underline;
    }

    &:focus {
        color: #1CA3FC;
        text-decoration: underline;
    }

    &:visited {
        text-decoration: underline;
        color: #1CA3FC;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
