<div class="sidebar pure-u-1 pure-u-md-1-4">

    <div class="sidebar-header">
        <div class="sidebar-header-pic">
            <a href="{{'/'| prepend: site.baseurl}}">
                <img src="{{'/source/images/headicon.png'| prepend: site.baseurl }}" alt="Profile Picture" style="width: 140px;" title="返回首页">
            </a>
        </div>
        <h1 class="sidebar-title">郝锡强的博客</h1>
        <h2 class="sidebar-tagline">什么都喜欢写点</h2>

        <nav class="sidebar-nav">
            <ul class="sidebar-nav-list">
                <li class="sidebar-nav-item">
                    <a class="pure-button" href="{{'/static/timing.html'| prepend: site.baseurl }}">时间线</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="pure-button" href="{{'/static/tag.html'| prepend: site.baseurl }}">标签库</a>
                </li>
<!--                 <li class="sidebar-nav-item">
                    <a class="pure-button" href="{{'/static/samples.html'| prepend: site.baseurl }}">实例集</a>
                </li> -->

            </ul>
        </nav>
    </div>
    <div class="git-follow">
        <iframe src="{{'/static/github-btn.html'| prepend: site.baseurl }}?user=haoxiqiang&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="180px" height="20px"></iframe>
     </div>
</div>

