<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/css/pure-min.css' | prepend: site.baseurl }}">

<!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ "/css/grids-responsive-old-ie-min.css" | prepend: site.baseurl }}">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/css/grids-responsive-min.css" | prepend: site.baseurl }}">
<!--<![endif]-->

<!--
 __  __     ______     ______     __  __     __     ______     __     ______     __   __     ______    
/\ \_\ \   /\  __ \   /\  __ \   /\_\_\_\   /\ \   /\  __ \   /\ \   /\  __ \   /\ "-.\ \   /\  ___\   
\ \  __ \  \ \  __ \  \ \ \/\ \  \/_/\_\/_  \ \ \  \ \ \/\_\  \ \ \  \ \  __ \  \ \ \-.  \  \ \ \__ \  
 \ \_\ \_\  \ \_\ \_\  \ \_____\   /\_\/\_\  \ \_\  \ \___\_\  \ \_\  \ \_\ \_\  \ \_\\"\_\  \ \_____\ 
  \/_/\/_/   \/_/\/_/   \/_____/   \/_/\/_/   \/_/   \/___/_/   \/_/   \/_/\/_/   \/_/ \/_/   \/_____/ 
                                                                                                       
http://ascii.mastervb.net/text_to_ascii.php   sub_zero
 -->
</head>
